{% extends "base/base.html" %}
{% block navbar %}
{{super()}}
{%- endblock navbar %}
{% block sidebar %}
{{super()}}
{%- endblock sidebar %}
{% block content_header -%}
          <h1>
            Empty
            <small>A blank page</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Empty</li>
          </ol>
{%- endblock content_header %}
{% block content -%}
{%- endblock content %}
