{% extends "base/base.html" %}
{% block navbar %}
{{super()}}
{%- endblock navbar %}
{% block sidebar %}
{{super()}}
{%- endblock sidebar %}
{% block content_header -%}
{%- endblock content_header %}
{% block content -%}
<div class="container">
    <div class="jumbotron">
        <h1>{{catalog.name}}: Add Course</h1>
    </div>
    <form class="form p-4 rounded bg-dark text-white" method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{ form.number.label() }}{{ form.number() }}
            {{ form.name.label() }}{{ form.name() }}
        </div>
        <div class="form-group">
            {{ form.credits.label() }}{{ form.credits() }}
            {{ form.credit_type_id.label() }}{{ form.credit_type_id() }}
        </div>
        <div class="form-group">
            {{ form.description.label() }}{{ form.description() }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg">Save</button>
        </div>
    </form>
    <div class="container">
        <br>
        <br>
    </div>
</div>
{%- endblock content %}